<thead>
  <tr>
    <th {{action "changeSort" "name"}}>Song</th>
    <th {{action "changeSort" "mainArtist.name"}}>Artist</th>
    <th {{action "changeSort" "album.name"}}>Album</th>
    {{#if fromPlaylist}}<th {{action "changeSort" "addedAt"}}>Added</th>{{/if}}
    <th {{action "changeSort" "duration_ms"}}>Duration</th>
  </tr>
</thead>
<tbody class="tracks">
  {{#each content as |track|}}
    <tr {{action "play" track}} class={{if track.isActive "is-active"}}>
      <td>{{track.name}}</td>
      {{#link-to "artist" track.mainArtist.id class="artist-name" tagName="td"}}
        {{track.mainArtist.name}}
      {{/link-to}}
      <td>{{track.album.name}}</td>
      {{#if fromPlaylist}}<td>{{track.addedAgo}}</td>{{/if}}
      <td>{{track.duration}}</td>
    </tr>
  {{/each}}
</tbody>