<div id="app-content">
  <div class="sidebar-left">
    <ul class="playlist">
      {{#each myPlaylists as |playlist|}}
        {{#link-to "playlist" playlist.id tagName="li" class="fa fa-anchor"}}{{playlist.name}}{{/link-to}}
      {{/each}}
    </ul>
    <div class="current-video {{if existPlayer 'exist-player'}} {{if view.isBigPlayerActive 'big-player'}}">
      <button {{action "enterFullscreen"}}>Full screen</button>
      <button {{action "togglePlayerSize" target="view"}}>Toggle player</button>
      {{#if existPlayer}}
        {{ember-youtube ytid=currentVideo.id autoplay=true showControls=false showTime=false showProgress=false delegate=controller delegate-as="videoPlayer" ended="onEnd"}}
      {{else}}
        No video
      {{/if}}
    </div>
  </div>
  <div class="content">
    {{outlet}}
  </div>
  <div class="sidebar-right">

  </div>
</div>