<div id="app-content">
  <div class="sidebar-left">
    <div class="scrolling-content">
      <div class="sidebar-label playlist-label">PLAYLISTS</div>
      <ul class="playlist">
        {{#each myPlaylists as |playlist|}}
          {{#link-to "playlist" playlist.id tagName="li" class="fa fa-music"}}{{playlist.name}}{{/link-to}}
        {{/each}}
      </ul>
    </div>
    <div class="current-video {{if existPlayer 'exist-player'}} {{if view.isBigPlayerActive 'big-player'}}">
      <i {{action "enterFullscreen"}} class="full-screen-mode videoplayer-action fa fa-arrows-alt"></i>
      <div {{action "togglePlayerSize" target="view"}} class="toggle-player-size videoplayer-action">
        {{#if view.isBigPlayerActive}}<i class="fa fa-chevron-down"></i>{{else}}<i class="fa fa-chevron-up"></i>{{/if}}
      </div>
      {{#if existPlayer}}
        {{ember-youtube ytid=currentVideo.id autoplay=true showControls=false showTime=false showProgress=false delegate=controller delegate-as="videoPlayer" ended="onEnd"}}
      {{/if}}
      <div class="current-track-info marquee">
        <div class="track-name">{{currentTrack.name}}</div>
        <div class="artist-name">{{currentTrack.artistName}}</div>
      </div>
    </div>
  </div>
  <div class="content">
    {{outlet}}
  </div>
  <div class="sidebar-right">

  </div>
</div>