<header id="app-header">
  {{#link-to "application"}}Home{{/link-to}}
  {{input type="search" value=searchQuery}}
  <ul class="search-results">
    {{#each result in searchResults}}
      <li>
        <img src={{result.img}} alt={{result.name}}>
        {{result.name}}
      </li>
    {{/each}}
  </ul>
  <div class="me">
    <img src="{{session.user.img}}" alt="session.user.display_name">
    {{session.user.display_name}}
  </div>
</header>