<header id="app-header">
  <div class="header-left">
    {{#link-to "application" tagName="i" class="fa fa-home home-icon"}}{{/link-to}}
    {{input elementId="search-query" type="search" placeholder="Search" value=searchQuery}}
  </div>
  {{#if view.showSearchResults}}
    <ul class="search-results">
      {{#if loadingResults}}
        <li>Loading...</li>
      {{else}}
        {{#each searchResults as |result|}}
          <li {{action "setCurrentVideo" result}}>
            <img src={{result.img}} alt={{result.name}}>
            <div class="result-text">{{result.name}}</div>
          </li>
        {{/each}}
      {{/if}}
    </ul>
  {{/if}}
  <a href="//github.com/zzarcon/spotyness" target="_blank" class="contribute-gh">
    <i class="fa fa-github"></i> Contribute
  </a>
  <div class="me">
    <img src="{{session.user.img}}" alt="session.user.id">
    {{session.user.id}}
  </div>
</header>