<header id="app-header">
  {{#link-to "application"}}Home{{/link-to}}
  {{input elementId="search-query" type="search" placeholder="Search song..." value=searchQuery}}
  {{#if view.showSearchResults}}
    <ul class="search-results">
      {{#if loadingResults}}
        <li>Loading...</li>
      {{else}}
        {{#each result in searchResults}}
          <li {{action "setCurrentVideo" result}}>
            <img src={{result.img}} alt={{result.name}}>
            {{result.name}}
          </li>
        {{/each}}
      {{/if}}
    </ul>
  {{/if}}
  <div class="me">
    <img src="{{session.user.img}}" alt="session.user.display_name">
    {{session.user.display_name}}
  </div>
</header>