<div class="playlist-header">
  <h1 class="playlist-title">{{model.name}} ({{model.totalTracks}})</h1>
</div>

{{#if tracks.length}}
  {{tracks-list content=tracks}}
{{else}}
  No tracks...
{{/if}}

{{outlet}}